/* 自定义颜色 */
$Gray-90: rgba(52, 52, 52, 1);
$Gray-30: rgba(240, 240, 240, 1);
$Gray-70: rgba(148, 148, 148, 1);
$Gray-80: rgba(112, 112, 112, 1);
$Ambient-80: rgba(109, 87, 88, 1);
$Primary-125: rgba(195, 71, 83, 1);
$Secondary-100: rgba(246, 168, 96, 1);