/* 灰色 */
$Gray-90: #343434;
$Gray-80: #707070;
$Gray-70: #949494;
$Gray-40: #E0E0E0;
$Gray-30: #F0F0F0;
/*主题色*/
$Primary-125: #C34753;
/*次主题色*/
$Secondary-100: #F6A860;
/**/
$Ambient-80: #6D5758;
/**/
$Tertiary-Green: #0EA465;
$Tertiary-Yellow: #FFC000;
/**/
$Black: #000000;
$Page-bg: #F6F6F6;